---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Javascript from "./icons/Javascript.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import React from "./icons/React.astro"
import Typescript from "./icons/Typescript.astro"
import Wordpress from "./icons/Wordpress.astro"
import Php from "./icons/Php.astro"
import Bootstrap from "./icons/Bootstrap.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-[#d9d200] text-black",
    icon: Javascript,
  },
  REACT: {
    name: "React",
    class: "bg-[#025f72] text-white",
    icon: React,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#8993be] text-black",
    icon: Php,
  },
  TYPESCRIPT: {
    name: "Typescript",
    class: "bg-[#007acc] text-white",
    icon: Typescript,
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-[#1e3a4d] text-white",
    icon: Wordpress,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#aa98ff] text-black",
    icon: Bootstrap,
  },
}
const PROJECTS = [
  {
    title: "TECHNO AYUDA - A Beautiful Website for Digital Services",
    description:
      "At TechnoAyuda, we're passionate about helping businesses thrive in the ever-evolving digital landscape. We offer a comprehensive suite of IT consulting services designed to elevate your online presence, streamline operations, and unleash your full potential.",
    link: "https://technoayuda.com",
    image: "/projects/technoayuda.webp",
    tags: [TAGS.PHP, TAGS.JAVASCRIPT,TAGS.TAILWIND],
    github:''
  },
  {
    title: "GUSGERAS - FOOD LOCAL DIRECTORY",
    description:
      "I launched gusgeras.com during the COVID-19 pandemic to help local businesses in my city gain a stronger online presence. This initiative supports businesses that may not have the resources to establish themselves effectively on the internet.",
    link: "https://gusgeras.com",
    image: "/projects/gusgeras.webp",
    tags: [TAGS.PHP, TAGS.JAVASCRIPT, TAGS.BOOTSTRAP],
  },
  {
    title: "GUITAR LA - SHOPPING CART",
    description:
      "React e-commerce app built with Vite and TypeScript, featuring a custom shopping cart system powered by custom hooks and dynamic product listings, styled with Tailwind CSS",
    link: "https://luisguitarlats.netlify.app/",
    image: "/projects/guitarLA.webp",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.TAILWIND],
    github:"https://github.com/FernandoInfanzon/guitarLA"
  },
  {
    title: "CALORIE - TRACKER",
    description:
      "React app built with Vite and TypeScript, using useReducer to handle complex state updates in a structured and efficient way, styled with Tailwind CSS",
    link: "https://calories-tracker-luis.netlify.app/",
    image: "/projects/caloriesTracker.webp",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.TAILWIND],
    github:"https://github.com/FernandoInfanzon/calories_tracker"
  },
  {
    title: "Intuitive Ordering - React App ",
    description:
      "React e-commerce app built with Vite and TypeScript, featuring a custom shopping cart system powered by custom hooks and dynamic product listings, styled with Tailwind CSS",
    link: "https://luistipscalculator.netlify.app/",
    image: "/projects/tipsCalculator.webp",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.TAILWIND],
    github:"https://github.com/FernandoInfanzon/tipsCalculator"
  },
  {
    title: "QuizAPP - React App",
    description:
      "This interactive quiz app built with React, Vite, and Tailwind CSS throws shuffled questions your way, giving you timed challenges with instant feedback and progress tracking. It's a fun and engaging way to learn and sharpen your skills!",
    link: "https://technoayuda.com/quizApp/",
    image: "/projects/reactQuiz.webp",
    tags: [TAGS.REACT, TAGS.JAVASCRIPT, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt={title} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100 text-transform:uppercase">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github} target="_blank">
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link} target="_blank">
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>